*{
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    height: 60px;
    background: #041724;
    position: relative;
    
}
.top-left{
    width: 80px;
    height: 60px;
    float: left;
    
}
.top-left-box{
    width: 45px;
    height: 42.4px;
    
    margin: auto;
    margin-top: 8px;
    position: relative;
    
}
.top-left-box a{
    width: 14px;
    height: 14px;
    padding: 13px;
    padding-top: 13px;
    position: absolute;
    
}
.top-center{
    width: 140px;
    height: 60.1px;
    float: left;
    position: relative;

}
.top-center a{
    width: 100px;
    height: 23.81px;
    margin: auto;
}
.top-center img{
    width: 100px;
    height: 24.8px;
    margin-left: 40px;
    margin-top: 14px;
}
.top-right{
    width: 80px;
    height: 60px;
    float: right;
    
    position: relative;

}
.top-right img{
    width: 25px;
    height: 25px;
    margin-left: 50px;
    margin-top: 17px;
}


.swiper-container {
    width: 100%px;
    height: 180px;
    margin-top: .1px;
    
}  
.swiper-slide img{
    width: 100%;
    height: 180px;
}

.list{
    width: 100%;
    height: 130px;
    background: #f5f5f5;
}
.list-cot{
    width: 186.5px;
    height: 64.8px;
    float: left;
    border: .5px solid #ececec;
    
}
.list-cot-box{
    width: 111px;
    height: 26.8px;
    margin: auto;
    margin-top: 20px;
    
}
.list-cot span{
    font-size: 16px;
    color: #333;
    
}
.neirong1{
    width: 100%;
    height: 101.4px;
    overflow: hidden;
    
}
.neirong1-top{
    width: 345.2px;
    height: 51.4px;
    margin-left: 15px;
    margin-top: 25px;
    
}
.neirong1-top-box{
    width: 144px;
    height: 44.2px;
    margin: auto;
    
    

}
.neirong-top-box-cot{
    width: 144px;
    height: 23.2px;
    
}
.neirong-top-box-cot span{
    color: #000;
    font-size: 16px;
}
.neirong1-top-box-cot-xian{
    width: 30px;
    height: 2px;
    
    margin-left: 60px;
    margin-top: 29px;
    background: #014f93;
}
.neirong1-bottom{
    width: 100px;
    height: 1px;
    background: blue;
    margin: auto;
}

.neirong1-tuian1{
    width: 345.2px;
    height: 215.75px;
    
}
.neirong1-tupian1 img{
    width: 345.2px;
    height: 101.4px;
    margin-left: 15px;
}
.neirong1-tupian1-title{
    width: 122px;
    height: 20.8px;
    color: #000;
    font-size: 14px;
    margin: auto;
}
.neirong1-tupian1-title1{
    width: 336px;
    height: 67.2px;
    color: #808080;
    font-size: 12px;
    margin: auto;
}

.neirong1-tuian2{
    width: 345.2px;
    height: 215.75px;
    
}
.neirong1-tupian2 img{
    width: 345.2px;
    height: 101.4px;
    margin-left: 15px;
}
.neirong1-tupian2-title{
    width: 122px;
    height: 20.8px;
    color: #000;
    font-size: 14px;
    margin: auto;
}
.neirong1-tupian2-title1{
    width: 336px;
    height: 67.2px;
    color: #808080;
    font-size: 12px;
    margin: auto;
}



.bottom{
    width: 100%;
    height: 75.2px;
    background: #000;
    
}
.bottom-box{
width: 345.2px; 
height: 51.2px;
margin: auto;
overflow: hidden;

}
.bottom-box-cot{
    width: 344.64px;
    height: 41.6px;
    margin: auto;
    color: #777;
    margin-top: 15px;
    font-size: 12px;
    
}
